*{
    margin: 0;
}
header{
    padding: 15px;
    display: flex;
    align-items: center;
    
}
.yy{
    position: relative;
    left: 2000px;
    display: flex;
}
.yy a{
    margin: 10px;
    display: inline-block;
    color:white;
    background-color: #3784FE;
    text-decoration: none;
    padding: 12px 32px;
    border-radius: 6px;
}
.dd{
    color: blue;
}
.jj{
    font-size: 30px;
}
nav{
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
nav>a{
    margin-right: 40px;
    font-size: 20px;

}
.kl{
    width: 557px;
    height: 557px;
    position: relative;
    left: 1800px;
    display: flex; 
}
.ss{
    color:black;
    width: 711px;;
    height:231px;
}
.ps{
        
}
